body {
    margin: 0;
    display: grid;
    grid-template-rows: 7rem auto;
    grid-template-columns: auto auto auto;
}

header {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin: 5px;

    Background: mediumblue;
    
    height: 5rem;
}

header img {
    margin-left: 4rem;
    margin-top: 1rem;

    max-width:2rem;
    height:auto;
}

#title {
    font-size: 3rem;
    margin-left: 1rem;
    color: azure;
}

#button1 {
    position: absolute;
    right: 1rem;
    top: 1.65rem;

    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white; 
    color: black; 
    border: 2px solid darkblue;
}

#button1:hover{
    background-color: darkblue;
    color: white;
}

#messages {
    grid-column: 1;
    grid-row: 2;
    margin: 0.5rem;

	position: fixed;
	left: 0;
	top: 5rem;
	background: lightgray;
}

#messages #messageTitle { /* Messages title */
    font-size: 3rem;
}

.message {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

#messagesMore {
    font-size: 1.25rem;
    border-radius: 0.5rem;
    padding: 0.4rem 0.8rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    text-decoration: none;

    background-color: white; 
    color: black; 
    border: 2px solid mediumblue;
}

#messagesMore:hover {
    background-color: mediumblue;
    color: white;
}

#feed {
    grid-column: 2;
    grid-row: 2;
    margin: 1rem;

    color: green;
}

#explore {
    grid-column: 3;
    grid-row: 2;
    margin: 1rem;

    color: blue;
}