body {
    margin: 0;
    display: grid;
    grid-template-rows: 6rem 10rem auto;
    grid-template-columns: 20% 50% 30%;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    Background: darkslateblue;
}

header img {
    margin-left: 4rem;
    margin-top: 1rem;

    max-width:2rem;
    height:auto;
}

#title {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 3rem;

    font-size: 3rem;
    color: azure;
}

#topLinks {
    margin-right: 4rem;
    padding: 2rem;
    
    text-decoration: none;
    display: inline-block;

    font-size: 1.5rem;
    color: azure;
}

#button1 {
    position: absolute;
    right: 1rem;
    top: 2rem;

    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white; 
    color: black; 
    border: 2px solid darkblue;
}

#button1:hover{
    background-color: darkblue;
    color: white;
}

#messages {
    grid-row: 3;
    grid-column: 1;
    margin-left: 5px;
    margin-right: 5px;

	left: 0;
	top: 6rem;
    background: lavender;
    
    border-right: 1px solid lightsteelblue;
}

#messagesInner {
    margin: 1rem;
}

#messages #messageTitle {
    font-size: 3rem;
}

#sender {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 1rem;

    text-decoration: none;
    color: black;

    border-top: 1px solid gray;
}

#message {
    margin-left: 1rem;
    
    text-decoration: none;
    color: black;
}

#messagesMore {
    font-size: 1.25rem;
    border-radius: 0.5rem;
    padding: 0.4rem 0.8rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 1rem;

    text-decoration: none;

    background-color: white; 
    color: black; 
    border: 2px solid mediumblue;
}

#messagesMore:hover {
    background-color: mediumblue;
    color: white;
}

#messageblock {
    text-decoration: none;
}

#post {
    border-bottom: 1px solid gray;
    padding: 1rem;
}

#postpic {
    border-radius: 50%;
    float: left;
}

#postname {
    padding-left: 1rem;
    float: left;
}

#posttime {
    float: right;
}

#postcontent {
    padding-top: 2.25rem;
}

#likes {
    padding-right: 3rem;
}

#composePost {
    grid-column: 2;
    grid-row: 2;
    margin-top: 5px;

    padding: 1rem;

    border: 1px solid gray;
}

#composePicture {
    grid-column: 2;
    grid-row: 2;

    float: left;

    border-radius: 50%;

    height: 100px;
    width: 100px;
}

#postText {
    margin-left: 1rem;
    margin-right: 2rem;
    width: 70%;
    height: 5rem;

    resize: none;
}

#composeIcon {
    margin-top: 0.5rem;
    height: 30px;
    width: auto;
    float: bottom;
}

#fileimage{
    background-image: url("/images/image.png");
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-bottom: 20px;
    width: 0px;
    float: left;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#button2 {
    font-size: 1.05rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    margin-top: 0.5rem;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;

    float: right;

    text-decoration: none;

    background-color: white; 
    color: black; 
    border: 2px solid darkblue;
}

#button2:hover {
    background-color: darkblue;
    color: white;
}

#feed {
    grid-column: 2;
    grid-row: 3;

    margin-top: 1rem;

}

#explore {
    grid-column: 3;
    grid-row: 2 / span 2;
    margin-left: 5px;
    margin-right: 5px;
    
    border-left: 1px solid lightsteelblue;

	background: lavender;
}

#exploretitle {
    font-size: 3rem;
    margin-left: 1rem;
}

#newstitle {
    font-size: 1.7rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
    
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#articleTitle {
    margin-left: 1rem;

    font-weight: bold;
    font-size: larger;
}

#articleSource {
    margin-top: 0.1rem;
    margin-left: 1rem;
}

#datePublished {
    margin-top: 0.1rem;
    margin-left: 1rem;
}

#articleImage {
    margin-top: 1rem;
    margin-left: 2.7rem;

    border-radius: 8px;
    height: auto;
    width: 300px;
}

#profilewrap {
    grid-row: 2;
    grid-column: 1;
    margin-right: 5px;
    margin-left: 5px;

    background: lavender;
    
    border-right: 1px solid lightsteelblue;
    border-bottom: 1px solid lightsteelblue;
    text-decoration: none;
}

#profile{
    font-size: 2rem;
    padding-left: 1rem;  

    margin-top: 1rem;
    margin-bottom: 1rem;

    color: black;
} 

#profilepicture {
    height: 60px;
    width: 60px;

    border-radius: 50%;

    margin-left: 1rem;

    float: left;
}

#username {
    color: black;

    margin-left: 6rem;
    margin-top: 1.5rem;
}

#commentwrap{
    margin: 1rem;
    padding-top: 1rem;
}

#commentmessage {
    padding: 1rem;
}

#postbutton {
    margin-left: 1rem;
    padding: 0.7rem;
    
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;

    border: 1px solid darkblue;
    border-radius: 20%;
}

#postbutton:hover {
    background: darkblue;
    color: white;
}

#comment{
    margin-top: 1rem;
    padding: 1rem;

    border: 1px solid gray;
}
