body {
    margin: 0;
    display: grid;
    grid-template-rows: 6rem auto;
    grid-template-columns: 20% 60% 20%;
}

header {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin: 5px;

    Background: #483D8B;
}

header img {
    margin-left: 4rem;
    margin-top: 1rem;

    max-width:2rem;
    height:auto;
}

#title {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 3rem;

    font-size: 3rem;
    color: azure;
}

#topLinks {
    margin-right: 4rem;
    padding: 2rem;
    
    text-decoration: none;
    display: inline-block;

    font-size: 1.5rem;
    color: azure;
}

#button1 {
    position: absolute;
    right: 1rem;
    top: 2rem;

    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white; 
    color: black; 
    border: 2px solid darkblue;
}

#button1:hover{
    background-color: darkblue;
    color: white;
}

#messages {
    grid-column: 2;
    grid-row: 2 / span 1;
    margin: 5px;

    color: darkblue;

    margin-top: 2rem;
}

#message {
    display: none;
    
    border: 1px solid gray;
    padding: 1rem;
}

#roomimage {
    height: 80px;
    width: 80px;

    border-radius: 50%;
    float: left;
}

#roomName {
    margin-left: 1rem;
    font-size: 2rem;
}

#oldestsenttime{
    float: right;
    
    padding: 0.5rem;
}

#senttime { /*one for sent one for recieved*/
    float: right;
    
    padding: 0.5rem;
}

#messagecontent {
    margin-left: 7rem;

    margin-bottom: 1rem;

    border: 1px solid blue; /*one for sent one for recieved*/
    border-radius: 15px;
    padding: 0.5rem;
}

#history{
    margin-top: 1rem;
}

#sendMessage {
    padding-left: 2rem;
    margin-left: 4rem;

    height: 40px;

    border-radius: 10%;
}

#prompt {
    padding-left: 8rem;
    padding-bottom: 1rem;
}

#roomSelect {
    margin: 1rem;
}

#roomSelectTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#roomInput {
    margin-left: 2rem;
    margin-bottom: 1rem;

    padding: 0.5rem;

    height: 2rem;
}

#joinRoom {
    margin-left: 1rem;
    padding: 0.7rem;

    border: 1px solid gray;
    border-radius: 15px;

    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;

    background: white;
}

#joinRoom:hover{
    background: #483D8B;
    color: white;
}
