.navbar {
    Background: #483D8B;
}

.logo {
    margin-left: 1rem;
    width: 3%;
}

.title {
    color: white;
    margin: 1rem;
}

.title:hover {
    color: white;
}

.logout {
    position: absolute;
    right: 1rem;
    top: 1rem;

    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white; 
    color: black; 
    border: 2px solid darkblue;
}

.logout:hover{
    background-color: darkblue;
    color: white;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 6rem auto;
    grid-template-columns: 20% 60% 20%;
}

header {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-bottom: 20px;

    Background: #483D8B;
}

#page {
    grid-column: 2;
    grid-row: 2;
    margin: 5px;

    padding-top: 1rem;
}

#profilepicture {
    height: 150px;
    width: 150px;

    border-radius: 50%;

    float: left;
}

#biography {
    margin-left: 14rem;
}

#edit{
    float: right;
    margin-right: 1rem;
}

#username {
    font-size: 3rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

#pageheader{
    padding-bottom: 2rem;
}

#posts {
    border-top: 1px solid gray;
    margin-top: 3rem;
}

#post {
    border: 1px solid gray;
    padding: 1rem;
    margin-bottom: 1rem;
}

#postpic {
    border-radius: 50%;
    float: left;
}

#postname {
    padding-left: 1rem;
    float: left;
}

#posttime {
    float: right;
}

#postcontent {
    padding-top: 2.25rem;
}