.navbar {
    Background: #483D8B;
}

.logo {
    margin-left: 1rem;
    width: 3%;
}

.title {
    color: white;
    margin: 1rem;
}

.title:hover {
    color: white;
}

.logout {
    position: absolute;
    right: 1rem;
    top: 1rem;

    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white; 
    color: black; 
    border: 2px solid darkblue;
}

.logout:hover{
    background-color: darkblue;
    color: white;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 6rem auto;
    grid-template-columns: 15% 50% 35%;
}

header {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-bottom: 20px;

    Background: #483D8B;
}

#page {
    grid-column: 2;
    grid-row: 2;
    margin: 5px;

    padding-top: 1rem;
}

#profilepicture {
    height: 200px;
    width: 200px;

    border-radius: 50%;

}

#biography {
    float: left;

    margin-top: -4rem;
    margin-right: 6rem;
    margin-left: 14rem;
}

#username {
    font-size: 4rem;
    margin-right: 10rem;
    margin-top: 2rem;

    float: right;
}

#pageheader{
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}

#friends {
    grid-column: 3;
    grid-row: 2;
    margin: 5px;

    background: lightgray;

    padding: 1rem;
}

#friendstitle{
    font-size: 2.5rem;

    padding-bottom: 1rem;

    border-bottom: 1px solid gray;
}

#profilewrap {
    padding-top: 1rem;
    
    padding-bottom: 1rem;

    border-bottom: 1px solid gray;
}

#friendprofilepicture {
    height: 60px;
    width: 60px;

    border-radius: 50%;

    margin-left: 1rem;

    vertical-align: middle;
}

#friendusername {
    color: black;

    margin-left: 1rem;
}

#post {
    border: 1px solid gray;
    padding: 1rem;
    margin-bottom: 1rem;
}

#fileimage{
    background-image: url("/images/image.png");
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-bottom: 20px;
    width: 0px;
    float: left;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#postpic {
    border-radius: 50%;
    float: left;
}

#postname {
    padding-left: 1rem;
    float: left;
}

#posttime {
    float: right;
}

#postcontent {
    padding-top: 2.25rem;
}